.sprite-cog
    sprite($cog)


.sprite-leaf
    sprite($leaf)

.sprite-trash
    sprite($trash)


@media sp
    .sprite-cog
        sprite_r($cog)


@media sp
    .sprite-leaf
        sprite_r($leaf)

