/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bin_name = 'bin';
$bin_x = 0px;
$bin_y = 0px;
$bin_offset_x = 0px;
$bin_offset_y = 0px;
$bin_width = 512px;
$bin_height = 512px;
$bin_total_width = 1024px;
$bin_total_height = 1024px;
$bin_image = '/img/sprite.png';
$bin = 0px 0px 0px 0px 512px 512px 1024px 1024px '/img/sprite.png' 'bin';
$cog_name = 'cog';
$cog_x = 512px;
$cog_y = 0px;
$cog_offset_x = -512px;
$cog_offset_y = 0px;
$cog_width = 512px;
$cog_height = 512px;
$cog_total_width = 1024px;
$cog_total_height = 1024px;
$cog_image = '/img/sprite.png';
$cog = 512px 0px -512px 0px 512px 512px 1024px 1024px '/img/sprite.png' 'cog';
$leaf_name = 'leaf';
$leaf_x = 0px;
$leaf_y = 512px;
$leaf_offset_x = 0px;
$leaf_offset_y = -512px;
$leaf_width = 512px;
$leaf_height = 512px;
$leaf_total_width = 1024px;
$leaf_total_height = 1024px;
$leaf_image = '/img/sprite.png';
$leaf = 0px 512px 0px -512px 512px 512px 1024px 1024px '/img/sprite.png' 'leaf';
$spritesheet_width = 1024px;
$spritesheet_height = 1024px;
$spritesheet_image = '/img/sprite.png';
$spritesheet_sprites = $bin $cog $leaf;
$spritesheet = 1024px 1024px '/img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
