// media query device width
// please customize the min / max width settings to fit your project
// ------------------------------------------------
// sp size
max_width_sp = 699px
// tb normal size
// min_width_tb = 641px
// max_width_tb = 949px
// pc
min_width_pc = 700px


// media query break point
// ------------------------------------------------
pc = "(min-width: " + min_width_pc + ")"
//tb = "only screen and (min-width: " + min_width_tb + ") and (max-width: " + max_width_tb + ")"
sp = "(max-width: " + max_width_sp + ")"