@import "nib"
global-reset()

@import "_icon"
@import "_sprite"
@import "_main"

body
  font-family Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  color #555

img
  vertical-align bottom

.gulp-template
	padding 20px
	&__section
		margin-bottom 20px 
		
		h2
			margin-bottom 20px 
			padding 5px
			border-bottom 1px solid #aaa
			font-size 30px

		.sprite
			display inline-block

		.icon
			&::before
				font-size 100px
				color #444

		.sprite-svg
			width 100px
			height 100px
			fill #444
